body {
  padding: 30px;
}

@font-face{
  font-family: MajorMonoDisplay;
  src: url('MajorMonoDisplay-Regular.ttf');
}

@font-face{
  font-family: Nunito-Light;
  src: url('Nunito-Light.ttf');
}

h1 {
  font-family: MajorMonoDisplay;
}

h2 {
  font-family: MajorMonoDisplay;
}

h3 {
  font-family: MajorMonoDisplay;
}

h4 {

}

p {
  font-family: Nunito-Light;
}

.centerFlex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.textInput {
  font-size: 16px;
  font-family: Nunito-Light;
  border-style: none none solid none;
  border-width: 2px;
  border-color: powderblue;
}

.button {
  font-family: Nunito-Light;
  padding: 5px 10px;
  color: black;
  background-color: white;
  border: 1px solid black;
}

.button:hover {
  background-color: black;
  color: white;
}
