/*
Sadid Ethun
SoftDev
K20 -- Throw Some Forking STUYLE On It / CSS Styling / Adding CSS to other groups P0
2021-11-21
time spent: 0.5
*/

html {
  font-size: 20px;
}
body {
  background-color: #E2DBBE;
}
a:link, a:visited, #create {
  background-color: #769fb6;
  color: black;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 25px;
}
input[type=submit], button {
  background-color: #EDC7CF;
  color: black;
  width: 20%;
  padding: 12px 20px;
  border-radius: 25px;
}
input[type=text], input[type=password] {
  width: 20%;
  padding: 12px 20px;
  border-radius: 25px;
}
input {
  font-size: 20px;
}
#blogs, #posts, #creator {
  background-color: #9dbbae;
  color: black;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 25px;
}