<!--
Sadid Ethun
SoftDev
K20 -- Throw Some Forking STUYLE On It / CSS Styling / Adding CSS to other groups P0
2021-11-21
time spent: 0.5
-->

<!DOCTYPE html>

<html>
  <head>
    <title>{{ username }}'s Blog</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='styles.css') }}"
    />
  </head>

  <body>
    <div style="padding: 30px;">
      <a href="/"><p>Return to Homepage</p></a>
      <h1>{{ username }}'s Blog</h1>
      {% if lookingAtOwnBlog %}
      <a href="/blog/newBlogEntry" id="create"><p>Create a New Post</p></a>
      {% endif %}
      <hr />
      <h2>{{ username }}'s Posts:</h2>
      {% for entry in entries %}
      <h2>
        <a href="/entry/{{entry['entry_id']}}" id="posts">{{ entry['title'] }}</a>
      </h2>
      <p>{{entry['entry_text'][0:200] + "..."}}</p>
      {% if lookingAtOwnBlog %}
      <form action="/entry/delete" method="post">
        <button class="button" type="submit" name="entry_id" value="{{entry['entry_id']}}">
          Delete
        </button>
      </form>
      {% endif %}

      <hr />
      {% endfor %}
    </div>
  </body>
</html>
