<!DOCTYPE html>

<html>
  <head>
    <title>{{ username }}'s Blog</title>
  </head>

  <body>
    <h1>{{ username }}'s Blog</h1>
    {% if lookingAtOwnBlog %}
    <a href="/blog/newBlogEntry" style="color: green">Create a New Post</a>
    {% endif %}
    <hr />
    <h2>{{ username }}'s Posts:</h2>
    {% for entry in entries %}
    <h2>
      <a href="/entry/{{entry['entry_id']}}">{{ entry['title'] }}</a>
    </h2>
    <p>{{entry['entry_text'][0:200] + "..."}}</p>
    <form action="/entry/delete" method="post">
      <button type="submit" name="entry_id" value="{{entry['entry_id']}}">
        Delete
      </button>
    </form>
    <hr />
    {% endfor %}
  </body>
</html>
