<!DOCTYPE html>

<html>
  <head>
    <title>Editing Post</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='styles.css') }}"
    />
  </head>

  <body>
    <a href="/"> return to homepage </a>
    <h3>Edit Your Post:</h3>
    <form action="/entry/{{ entry_id }}/edit " method="post">
      <p>Post Title:</p>
      <textarea name="title">{{title}}</textarea>
      <br />
      <p>Post Body:</p>
      <textarea name="entry_text">{{entry_text}}</textarea>
      <p></p>
      <input type="submit" name="sub" />
    </form>
    <p>
      <a href="/entry/{{ entry_id }}"
        >Forget this. Discard my draft and take me back.</a
      >
    </p>
  </body>
</html>
