<!DOCTYPE html>

<html>

  <head>
    <title> LOGIN PAGE </title>
  </head>

  <body>
    <h3>
      Enter your username and password below.
    </h3>
    <form action="/login" method="post">
      <p>Username: <br></p>
      <input type="text" name="username"><br> <!-- Username field -->
      <p>Password: <br></p>
      <input type="password" name="password"><br><br> <!-- Password field -->
      <input type="submit" name="sub1">
    </form>
    <br>
    <div>
      <a href= "/register">{{register}}  </a>
    </div>
  </body>

</html>
