<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles.css') }}">
    <title>login</title>
  </head>

  <body>
    <h3>Enter your username and password below.</h3>
    {% if error %}
    <p style="color: red">Your credentials did not match our records</p>
    {% endif %}
    <form action="/login" method="post">
      <div class="centerFlex">
        <p style="margin-right: 40px;">Username</p>
        <input type="text" name="username"/><br />
      </div>
      <!-- Username field -->

      <div class="centerFlex">
        <p style="margin-right: 40px;">Password</p>
        <input type="password" name="password" /><br /><br />
      </div>
      <!-- Password field -->
      <input type="submit" name="sub1" />
    </form>
    <p><a href="/register">New user?</a></p>
    <br />
  </body>
</html>
