<!DOCTYPE html>

<html>
  <head>
    <title>Create a Post</title>
  </head>

  <body>
    <a href="/"> return to homepage </a>
    <h3>Create a Post:</h3>
    <form action="/blog/newBlogEntry" method="post">
      <p>Post Title:</p>
      <textarea name="title"></textarea>
      <br />
      <p>Post Body:</p>
      <textarea name="entry_text"></textarea>
      <p></p>
      <input type="submit" name="sub" />
    </form>
    <p>
      <a href="/blog/{{ user_id }}"
        >Forget this. Discard my draft and take me back.</a
      >
    </p>
  </body>
</html>
