<!DOCTYPE html>

<html>
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='styles.css') }}"
    />
    <title>Register</title>
  </head>

  <body>
    <div class="centerFillFlex">
      <h3>Enter your username and password below.</h3>
      <form action="/register" method="post">
        <!-- Username field -->
        <input
            type="text"
            name="username"
            placeholder="Enter your username"
            class="textInput"
            style="margin-top: 20px"
          />
        <!-- Password field -->
        <input
          type="password"
          name="password"
          placeholder="Enter your password"
          class="textInput"
        />
        <!-- Confirm Password field -->
        <input
          type="password"
          name="confirm"
          placeholder="Confirm your password"
          class="textInput"
        />
        <div class="centerFlex" style="width: 100%">
          <input
            type="submit"
            name="sub1"
            class="button"
            style="margin-top: 20px"
          />
        </div>
      </form>
      <br />
      <a href="/"><p>Return to login page</p></a>
      <br />

      {% if error %}
      <p style="color: red;">{{error_message}}</p>
      {% endif %}
    </div>
  </body>
</html>
